@CHARSET "UTF-8";
body {
	background-color: #5DA8EB;
}
.container {
	background-color: #A5CAEB;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radiusL: 10px;		
/*	box-shadow: 5px 5px 10px #999;
	-moz-box-shadow: 5px 5px 10px #999;
	-webkit-box-shadow: 5px 5px 10px #999;*/
}
#header {
	background-color: #FFBE63;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radiusL: 10px 10px 0 0;
}
#footer {
	background-color: #FE9500;	
	border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radiusL: 0 0 10px 10px;
}
#navigation {
	background-color: #FFDFB2;	
}

.login-box tbody tr:nth-child(even) td, tbody tr.even td {
	background-color: #A5CAEB;
}
